@media (max-width: 767px){
    .ellipse3::after{
        content: "";
        width: 400px;
        height: 500px;
        background: #5DD9C1;
        position: absolute;
        right: -30%;
        bottom: 20%;
        opacity: 0.3;
        filter: blur(200px);
    }
}
