@media (max-width: 767px){
    .content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }
    .content-down{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }
    .remove-padding{
        padding: 0;
    }
}
.footer{
    position: relative;
}
.ellipse4{
    position: relative;
}
.ellipse4::after{
    content: "";
    width: 400px;
    height: 500px;
    background: #AD43DF;
    position: absolute;
    bottom: -50%;
    right: 50%;
    opacity: 0.3;
    filter: blur(200px);
}