@media (max-width: 767px){
    .add-paddings{
        padding: 30px;
    }
    .card-group{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .add-padding{
        padding: 20px;
    }
    .hide-text{
        display: none;
    }
}