.ellipse1::after{
    content: "";
    width: 536px;
    height: 50%;
    background: #5DD9C1;
    position: absolute;
    top: -50%;
    filter: blur(200px);
}
.ellipse2::after{
    content: "";
    width: 536px;
    height: 50%;
    background: #AD43DF;
    position: absolute;
    top: 30%;
    left: -20%;
    filter: blur(200px);
}
@media (max-width: 767px) {
    .ellipse1::after{
        display: none;
    }
    .ellipse2::after{
        width: 400px;
        top: 72px;
    }
}